exportPattern("^[[:alpha:]]+")
import(corrplot, RColorBrewer, ggplot2, reshape2, vegan)
importFrom("graphics", "par", "plot", "title")
importFrom("stats", "cor", "quantile")
importFrom("stats", "prcomp", "var")

